@font-face {
font-family: Raleway;
src:url(../fonts/Raleway-Regular.ttf);
src:url(../fonts/Raleway-Bold.ttf);
src:url(../fonts/Raleway-ExtraBold.ttf);
}

*{
	box-sizing: border-box;
	text-decoration: none;
	margin:0;
	padding:0;
}

ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}

a {
text-decoration: none; /*убираем подчеркивание текста ссылок*/
color:white;
font-weight: bold;
}

button {
border:none;
}

html{
	font-family: 'Raleway', sans-serif;
}

header{
	height: 750px;
	background-image: linear-gradient(to right bottom, rgba(28,234,190,0.7) 30% , #0eb5cc), url(../img/background-header.png);
	background-position: top;
	background-repeat: no-repeat;
}


.container{
	max-width: 1440px;
	margin:0 auto;
}

.navbar{
	padding-top: 50px;
	padding-bottom: 160px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.main-menu{
	min-width:500px;
	display:flex;
	justify-content: space-between;
	font-size: 20px;
	font-weight: bold;
}

.main-menu li{
	margin: 0 auto;
}

.login{
	background-color: rgba(0,0,0,0);
	color:white;
	padding:8px 20px;
	border:2px solid white;
	border-radius: 3px;
}

.content {
	display: flex;
	justify-content: space-between;
}

.content__text{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width:580px;
	height: 320px;
	color:white;
	display: 
}

.content__text h1{
	margin:0;
	font-size: 40px;
	font-weight:super-bold;
	text-transform: uppercase;

}

.content__text p{
	font-size: 20px;
	line-height: 2em;
}

.buttons{
	display: flex;
	justify-content: space-between;
	max-width: 400px;
}
.btn{
	padding:20px 45px;
	border-radius: 5px;
	background: white;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.btn a {
	color:#061e37;	
}

.btn-dark {
	background:#061e37; 
}

.btn-dark a {
	color:white;
}
.videoplayer {
	background-image: url(../img/background_video.png);
	background-size: cover;
	width:600px;
	height:320px;
	display: flex;
}

.play{
	position:relative;
	left:40%;
	top:35%;
}
.videoplayer a {
	color:#061e37;
	font-weight: bold;
}

.play img{
	padding-left: 30px;
}


.tools{
	display: flex;
	flex-direction: column;
	background: white;
	align-items: center;
}

.tools .container{
	width: 1440px;
}
.description {
	margin:100px auto;
	max-width: 560px;
	max-height: 160px;
	text-align: center;
}

h2{
	font-weight: bold;
	font-size:45px;
	color:#061e37;
	margin-bottom: 20px;
}
.tools p{
	margin-top: 20px;
	color:#9caeb6;
}

span {
	color: #6c6c6c;
	font-weight: bold;
	font-size: 25px;
	margin: 25px auto;
}

.cards {
	display: flex;
	justify-content: space-between;
	margin:0 auto;
	max-width:1440px;
}

.card__item {
text-align: center;
display:flex;
flex-direction: column;
max-width: 340px;

}

.card__item img {
	width:70px;
	height: 70px;
	margin: 0 auto;
}

.button__start{
	text-align: center;
}
.start {
	background: #1de9b6;
	color:white;
	font-weight: bold;
	margin:80px auto;

}

.counts {
	height: 150px;
	display: flex;
}

.count {
	width:25%;
	display: flex;
	align-items: center;
	justify-content:center;
}

.count:first-child{
	background-color: #80d8ff;
}

.count:nth-child(2){
	background-color: #82b1ff;
}

.count:nth-child(3) {
	background-color: #b388ff;
}

.count:last-child {
	background-color: #ea80fc;
}

.count span {
color:white;
margin: 0;
}

.count img {
padding-right: 10px;
}


.accordion{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.accordion__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 275px;
	width: 800px;
	box-shadow: 0 0 15px lightgray;
	border-radius: 5px;
	margin-bottom: 10px;
}

.accordion__item i {
	font-size:25px;
}

.item__title{
display: flex;
justify-content: space-between;
align-items:center;
width: 100%;
padding:0 20px;
}

.text {
	display: flex;
	padding:0 20px;

}

.text p {
	padding-left: 10px;
	line-height: 30px;
	font-size: 20px;
}

.feed{
	height: 560px;
	background-image:url(../img/bg__feed.png);
	background-size: cover;
	color:white;
	margin-top: 20px;
	padding:20px 0;
	
}

.feed .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.feed h2 {
	color:white;
}

.feed__description,.feed__people {
	width: 45%;
	border:2px solid red;
	
}

.feed__description h2{
	line-height: 1.5em;
}

.feed__description p{
	line-height: 1.5em;
	padding-bottom:40px;
}

.feed__person {
	display: flex;
	height: 160px;
	padding:10px;
	align-items: center;
}

.feed__person img {
	
	width:76px;
	height: 76px;

}

.feed__person__text {
	background-color: white;
	border-radius: 10px;
	padding:30px;
}